src/main/mule/sample.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c8cbe0b0-ef6e-44ac-a373-15056718ca2c" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="error-projectFlow" doc:id="2f3002e6-3b54-4289-b585-50c84a727431" >
		<http:listener doc:name="Listener" doc:id="a8308240-0392-49c0-8712-1cad3e9ff83e" config-ref="HTTP_Listener_config" path="test"/>
		<set-payload value='#["Success Ho Gaya"]' doc:name="Set Payload" doc:id="05c0e1ef-8fb7-41af-b215-ecd13ae37399" />
		<logger level="INFO" doc:name="Logger" doc:id="2cb3d13a-14bc-4907-a5dc-68b8a37ed466" />
	</flow>
</mule>
